body {
  background-color: aliceblue;
  text-align: center;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-family: 'Merriweather', serif;
}

h3 {
  text-decoration: underline;
}

.text_styles p {
  font-family: 'Merriweather', serif;
  font-size: 18px;
  font-weight: bold;
}

ul {
  list-style-position: inside;
  display: inline-block; 
	text-align: left; 
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

.colors {
  background-color: whitesmoke;
  border: 1px solid black;
  margin: auto;
  width: 90%;
}

.block {
  height: 100px;
  width: 750px;
  display: block;
}

#color1 {
  background-color: black;
  color: white;
  display: inline-block;
  margin: 25px 10px;
}

#color2 {
  background-color: lightslategray;
  color: white;
  display: inline-block;
  margin: 25px 10px;
}

#color3 {
  background-color: aquamarine;
  color: black;
  display: inline-block;
  margin: 25px 10px;
}

#color4 {
  background-color: lightcoral;
  color: white;
  display: inline-block;
  margin: 25px 10px;
}

#color5 {
  background-color: midnightblue;
  color: white;
  display: inline-block;
  margin: 25px 10px;
}

#color6 {
  background-color: plum;
  color: white;
  display: inline-block;
  margin: 25px 10px;
}

.fonts {
  background-color: whitesmoke;
  border: 1px solid black;
  margin: auto;
  margin-top: 20px;
  width: 90%;
}

.plain {
  font-style: normal;
  margin: 10px 10px;
}

.bold {
  font-weight: bold;
  margin: 10px 10px;
}

.italic {
  font-style: italic;
  margin: 10px 10px;
}

#font1 {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 10px;
}

#font2 {
  font-family: 'Merriweather', serif;
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
}

#font3 {
  font-family: 'Playfair Display', serif;
  display: inline-block;
  margin-left: 25px;
  margin-bottom: 10px;
}

.text_styles {
  background-color: whitesmoke;
  border: 1px solid black;
  margin: auto;
  margin-top: 20px;
  width: 90%;
}

footer {
  text-align: right;
  font-family: 'Merriweather', serif;
}